/* prode-oficial/src/components/NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
    
    /* VARIABLES DINÁMICAS */
    background-color: var(--nav-bg);
    color: var(--nav-text);
    border-bottom: 1px solid var(--border-color);
    
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s, border-color 0.3s;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.logo-text { color: var(--nav-text); } /* Se adapta */
.logo-dot { color: var(--accent-color); font-size: 2rem; line-height: 0; }

.navbar-center {
    display: flex;
    gap: 20px;
}

.nav-link {
    cursor: pointer;
    font-weight: 500;
    color: var(--text-secondary); /* Gris en ambos modos */
    transition: color 0.3s;
    background: none;
    border: none;
    font-size: 1rem;
}

.nav-link:hover, .nav-link.active {
    color: var(--accent-color);
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.theme-toggle {
    background: none;
    border: 1px solid var(--border-color);
    color: var(--nav-text);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    transition: background 0.2s;
}

.btn-logout-minimal {
    background: transparent;
    border: 1px solid var(--border-color);
    color: var(--nav-text);
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}